<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather-48.png" type="image/x-icon">
  </head>
  <body>
    <main>
        <div class="content">
          {{>_header}}
          <p>This web site was created by Sean Nuckolls. It uses mapbox.com for geo location data and weatherstack.com for forecast data.</p>
          <img class="portrait" src="/images/Sean.jpg"/>
        </div>

        {{>_footer}}
    </main>
	<!-- <script src="index.js"></script> -->
  </body>
</html>
