<header>
    <div class="title-space">
        <h1>{{title}}</h1>
        <img class="title-icon" src="/images/Weather-64.png"/>
    </div>
    <div class="nav">
        <a href="/" class="nav-link">Weather</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/help" class="nav-link">Help</a>
    </div>
</header>
